<div class="bg-sky-500 p-5 md:p-10">
    <div class="flex flex-col">
        <h2 class="text-3xl text-center md:text-3xl text-white font-bold pt-5 md:p-2">Luis Alexander</h2>
        <hr class="border-white border-t-4 w-48 md:w-96 mx-auto">
    </div>
    <div class="flex flex-row justify-center gap-4 pt-3">
        <a class="bg-white md:p-4 rounded-full w-10 md:w-20 hover:bg-black hover:text-white text-center" href="https://www.facebook.com/luisalexander.sotosegovia.3"><i class="fa-brands fa-facebook-f"></i></a>
        <a class="bg-white md:p-4 rounded-full w-10 md:w-20 hover:bg-black hover:text-white text-center" href="https://www.instagram.com/luis_alexander.19/"><i class="fa-brands fa-instagram"></i></>
        <a class="bg-white md:p-4 rounded-full w-10 md:w-20 hover:bg-black hover:text-white text-center" href="https://www.youtube.com/@luisalexandersotosegovia2062"><i class="fa-brands fa-youtube"></i></>
        <a class="bg-white md:p-4 rounded-full w-10 md:w-20 hover:bg-black hover:text-white text-center" href="https://www.linkedin.com/in/luis-alexander-soto-segovia-548322307/"><i class="fa-brands fa-linkedin-in"></i></>
        <a class="bg-white md:p-4 rounded-full w-10 md:w-20 hover:bg-black hover:text-white text-center" href="mailto:luisalexander.sotosegovia.3@gmail.com"><i class="fa-solid fa-envelope"></i></a>
    </div>
    </div>
</div>