---
import logo from '../../assets/img/logo-pc.png';
import Button from '../Button.astro';
---

<header>
  <nav>
    <div class="text-sm flex flex-row gap-1 py-5">
      <Button title='Skills' link='#'></Button>
      <Button title='Portafolio' link='#'></Button>
      <Button title='Estudios' link='#'></Button>
    </div>
  </nav>
</header>

