---
import yo from '../../assets/img/luis.png'
import Button from '../Button.astro'
import Header from './Header.astro'
---

<div class="md:w-full md:h-screen flex items-center justify-center flex-col p-5">
  <Header/>
  <div class="flex flex-col md:flex-row md:gap-5">
    <div class="justify-center flex flex-col">
      <p class="text-sm text-center"><button class="border-2 shadow-5xl border-black rounded-xl p-2 my-2">🟢 Disponible a trabajo </button></p>
      <h1 class="text-3xl md:text-5xl font-semibold">Luis Alexander Soto Segovia</h1>
      <p class="md:text-2xl text-gray-500">Ingeniero en Sistemas de Información</p>
      <div class="text-3xl ">
        <a class="text-blue-900 " href="https://www.linkedin.com/in/luis-alexander-soto-segovia-548322307/"><i class="fa-brands fa-linkedin hover:translate-y-1 duration-300"></i></a>
        <a class="text-green-900" href="https://wa.me/593969945823"><i class="fa-brands fa-square-whatsapp hover:translate-y-1 duration-300"></i></a>
        <a class="text-red-900" href="mailto:luisalexander.sotosegovia.3@gmail.com"><i class="fa-solid fa-square-envelope hover:translate-y-1 duration-300"></i></a>
        <a class="text-black" href="https://github.com/luis-alexander"><i class="fa-brands fa-square-github hover:translate-y-1 duration-300"></i></a>
        <a class="text-blue-900" href="https://www.facebook.com/luisalexander.sotosegovia.3"><i class="fa-brands fa-square-facebook hover:translate-y-1 duration-300"></i></a>
        <a class="text-blue-900" download href="/archivos/CV_LUIS SOTO.pdf"><i class="fa-solid fa-file-pdf hover:translate-y-1 duration-300"></i></a>
      </div>
    </div>
    <div class="items-center text-center content-center">
      <img class="w-80 rounded-full"   src={yo.src} alt="Luis Soto">
    </div>
  </div>
  <a href="" class="animate__animated animate__bounce">
    <i class="fa-solid fa-angles-down"></i>
  </a>
</div>
  
