@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Arabic:wght@100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  font-family: 'Playpen Sans Arabic', sans-serif;
}
::-webkit-scrollbar {
  display: none;
}

