---
import Contactos from '../components/landing/Contactos.astro';
import Estudios from '../components/landing/Estudios.astro';
import Inicio from '../components/landing/Inicio.astro';
import Skills from '../components/landing/Skills.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css'


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Página Oficial">
	<section id="inicio">
		<Inicio />
	</section>
	<section id="estudios">
		<Estudios/>
	</section>
	<section id="habilidades">
		<Skills/>
	</section>
	<section id="contactos">
		<Contactos/>
	</section>
	
</Layout>

